@import "tailwindcss" important;

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-50: #f2f6fc;
  --color-primary-100: #e2ebf7;
  --color-primary-200: #cbdcf2;
  --color-primary-300: #a7c6e9;
  --color-primary-400: #7ea8dc;
  --color-primary-500: #6a93d5;
  --color-primary-600: #4b71c5;
  --color-primary-700: #415fb4;
  --color-primary-800: #3a4f93;
  --color-primary-900: #334475;
  --color-primary-950: #232b48;
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


